@charset "utf-8";
/* CSS Document */

body{
	background-color: #6D6D6D;
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.Naslov{
	text-align: center;
}
.Podnaslov{
	text-align: center;
	margin-top:100px;
}

.container1{
	width: 500px;
	height: auto;
	text-align: center;
	display: flex;
	justify-content: center; 
	align-items: center;  
	margin-top: 100px;
	margin-left: 600px;
	background:#B7B7B7;
	border-radius:15px;
	
}
.container2{
	width: 500px;
	height: auto;
	text-align: center;
	display: flex;
	justify-content: center; 
	align-items: center;  
	margin-top: 50px;
	margin-left: 600px;
	background:#B7B7B7;
	border-radius:15px;
	
}
.citat{
	color: white;
	text-align: center;
	margin-top: 50px;
}
.naslov-navigacija{
	text-align: center;
	margin-top: 50px;
}
.navigacija{
	text-align: center;
	align-content: center;
	background-color: #FFFFFF;
	padding: 10px;
}
.navigacija ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigacija li {
    margin: 0 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}
.navigacija li:hover {
    background-color:#535353;
    color: black;
}
.navigacija a{
	color: white;
	text-decoration: none;
}
.uredjena-lista{
	align-items: center;
	
}
.uredjena-lista ol{
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 15px;
}
.uredjena-lista li{
	padding: 5px;
}
.uredjena-lista a{
	color: white;
	text-decoration: none;
}
.uredjena-lista a:hover {
    background-color:#535353;
    color: black;
}
.neuredjena-lista{
	align-items: center;
	
}
.neuredjena-lista ul{
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 15px;
}
.neuredjena-lista li{
	padding: 5px;
}
.neuredjena-lista a{
	color: white;
	text-decoration: none;
}
.neuredjena-lista a:hover {
    background-color:#535353;
    color: black;
}
.slike-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.slike-container img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.video-container video {
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.video-container img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}